## Q. 1 - Defined Functions

Build a function that takes a dollar amount (any amount) from a previous year and returns its value in 2023 dollars rounded to ONE decimal places.

To accomplish this, you will need to know the formula for converting old dollar amounts to a more current value (hint: you will need to know the CPI conversion formula).

The most recent full-year CPI is for 2023 at `304.7`. Here's the <a href="https://github.com/sandeepmj/datasets/blob/main/cpi-to-2023.csv">CPI for previous years</a>.

**Important Note**: At this time, you will need to manually insert the old year CPI as an argument for a parameter.

In [1]:
## code it here   292.655
def CPI (new_value,old_value):
    '''
    This function calculates CPI new then old
    
    '''
    return new_value/old_value * 100

In [9]:
answer= CPI(304.7,292.655)
answer

104.11576771283595

In [10]:
f"The value for 2023 is {answer:,.0F}"

'The value for 2023 is 104'

In [11]:
## test it here on a few previous years 
answer= CPI(270.97,258.811)
answer

104.69802288156225

In [12]:
f"The value for 2021-2020 is {answer:,.0F}"

'The value for 2021-2020 is 105'

In [13]:
## test it here on a few previous years
answer= CPI(218.056,214.537)
answer

101.64027650242149

In [14]:
f"The value for 2010-2009 is {answer:,.0F}"

'The value for 2010-2009 is 102'

## Q. 2 - Movie Sales

Here is the  <a href="https://github.com/sandeepmj/datasets/blob/main/movie-sales.csv">repo that holds the top movies by release-year sales</a> for each year going back to 1995.

Which are the 5 movies that grossed the most in the year they were released?

In [15]:
## code it here...create more cells as necessary.

import pandas as pd

In [43]:
pd.options.display.float_format = '{:,.0f}'.format

In [44]:
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/movie-sales.csv")
df

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,157
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,167
5,2000,How the Grinch Stole Christmas,PG,Universal,254257385,47172056,172
6,2001,Harry Potter and the Sorcerer’s Stone,PG,Warner Bros.,300404434,53074988,177
7,2002,Spider-Man,PG-13,Sony Pictures,403706375,69484746,180
8,2003,Finding Nemo,G,Walt Disney,339714367,56337374,184
9,2004,Shrek 2,PG,Dreamworks SKG,441226247,71050925,189
10,2005,Star Wars Ep. III: Revenge of the Sith,PG-13,20th Century Fox,380270577,59324582,195
11,2006,Pirates of the Caribbean: Dead Man’s Chest,PG-13,Walt Disney,423315812,64628368,202
12,2007,Spider-Man 3,PG-13,Sony Pictures,336530303,48914288,207
13,2008,The Dark Knight,PG-13,Warner Bros.,531001578,73955652,215
14,2009,Transformers: Revenge of the Fallen,PG-13,Paramount Pictures,402111870,53614916,215
15,2010,Toy Story 3,G,Walt Disney,415004880,52598844,218
16,2011,Harry Potter and the Deathly Hallows: Part II,PG-13,Warner Bros.,381011219,48046812,225
17,2012,The Avengers,PG-13,Walt Disney,623357910,78311295,230
18,2013,Iron Man 3,PG-13,Walt Disney,408992272,50306552,233
19,2014,Guardians of the Galaxy,PG-13,Walt Disney,333055258,40765637,237
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237
21,2016,Finding Dory,PG,Walt Disney,486295561,56219140,240
22,2017,Star Wars Ep. VIII: The Last Jedi,PG-13,Walt Disney,517218368,57660910,245
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,256
25,2020,Bad Boys For Life,R,Sony Pictures,204417855,22267740,259
26,2021,Spider-Man: No Way Home,PG-13,Sony Pictures,572984769,56340685,271
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,293
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,305

In [35]:
df.sort_values(by="release_year_total", ascending= False).head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,255.657
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237.017
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,292.655
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251.107
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,304.700

## Q. 3 Challenge

Can you figure out another way to get only the top 5?

In [5]:
## code it here

## Q. 4 What was the median since 1995 (inflation adjusted)

Place in a sentence with pleasing formating.

In [6]:
## code here

In [38]:
target_stats = ["mean","sum","median","max", "min"]

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   release_year        29 non-null     int64
 1   title               29 non-null     object
 2   rating              29 non-null     object
 3   studio              29 non-null     object
 4   release_year_total  29 non-null     int64
 5   release_yr_tickets  29 non-null     int64
 6   cpi                 29 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

# Q. 5 Multiple values at one time

Calculate the sum, mean, median, max and min for ticket sales, revenue year it was released and inflation adjusted revenue

In [40]:
## code here

In [45]:
df[["release_year_total","release_yr_tickets"]].agg(target_stats)

        release_year_total  release_yr_tickets
mean           450,688,414          62,101,941
sum         13,069,964,000       1,800,956,289
median         415,004,880          57,660,910
max            858,373,000         104,092,298
min            184,031,112          22,267,740